div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    background-color: var(--color-background);
    border-radius: var(--radius);
    padding: var(--padding);
}
