section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: var(--color-card);
    min-width: var(--size-xl);
    gap: var(--gap);
    border-radius: var(--radius);
    padding: var(--padding);
}

h1 {
    text-decoration: underline;
}
