a {
    display: flex;
    flex-direction: column;
    background-color: var(--color-card);
    gap: var(--gap);
    border-radius: var(--radius);
    padding: var(--padding);
    overflow: hidden;
    color: antiquewhite;
}


span {
}
