div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-background);
    min-width: var(--size-xl);
    border-radius: var(--radius);
    gap: var(--gap);
    padding: var(--padding);
    justify-content: center;
    align-items: center;
}
